.modal {
  top: 0;
  position: fixed;
  /* Stay in place */
  padding-top: 100px;
  /* Location of the box */
  left: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: black;
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  transition: all 0.4s ease;
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  /* The Close Button */ }
  .modal.show {
    z-index: 99999;
    opacity: 1;
    visibility: visible; }
    .modal.show .modal-content {
      margin: 50px auto 0 auto; }
  .modal .modal-content {
    margin: -7050px auto 0 auto;
    max-width: 1163px;
    min-height: 487px;
    background: #E9EDF5;
    border-radius: 20px;
    transition: all 0.4s ease;
    border: 1px solid #888;
    padding: 40px 52px; }
    .modal .modal-content .modal-body {
      margin: 0 auto; }
    .modal .modal-content .form {
      margin: 22px 0 0 0; }
      .modal .modal-content .form .oval-container-form .flex-card {
        margin: 0 -4px; }
        .modal .modal-content .form .oval-container-form .flex-card:not(:last-child) {
          margin-bottom: 8px; }
        .modal .modal-content .form .oval-container-form .flex-card > div {
          padding: 0 4px; }
          .modal .modal-content .form .oval-container-form .flex-card > div .form-control-oval {
            width: 100%; }
    .modal .modal-content .modal-title {
      font-weight: bold;
      font-size: 30px;
      line-height: 44px;
      text-align: center;
      color: #2D2C42; }
  .modal .btn-form {
    margin-top: 24px; }
  .modal .close-modal {
    position: relative;
    width: 40px;
    height: 40px;
    display: inline-block; }
    .modal .close-modal:hover {
      cursor: pointer; }
      .modal .close-modal:hover:after, .modal .close-modal:hover:before {
        background: #2D2C42; }
      .modal .close-modal:hover:active:after, .modal .close-modal:hover:active:before {
        width: 0;
        height: 0;
        opacity: 0; }
    .modal .close-modal:after, .modal .close-modal:before {
      background: #89879C;
      width: 100%;
      height: 2px;
      position: absolute;
      content: "";
      top: 17px;
      left: 0;
      transition: all 0.4s ease; }
    .modal .close-modal:after {
      transform: rotate(45deg); }
    .modal .close-modal:before {
      transform: rotate(-45deg); }

@media only screen and (max-width: 767px) {
  .modal {
    padding-top: 80px;
    /* Location of the box */
    left: 0;
    width: 100%;
    height: 100%;
    /* Full height */
    z-index: -1;
    /* The Close Button */ }
    .modal .modal-content {
      max-width: calc(100% - 60px);
      min-height: 487px;
      padding: 30px 32px; }
      .modal .modal-content .form {
        margin: 22px 0 0 0; }
        .modal .modal-content .form .oval-container-form .flex-card {
          margin: 0 !important;
          flex-wrap: wrap; }
          .modal .modal-content .form .oval-container-form .flex-card > div {
            padding: 0 4px;
            width: 100%;
            margin: 0 0 8px 0 !important; }
            .modal .modal-content .form .oval-container-form .flex-card > div .form-control-oval {
              width: 100%; }
      .modal .modal-content .modal-title {
        font-size: 24px;
        line-height: 1.2; }
    .modal .btn-form {
      margin-top: 18px; }
    .modal .close-modal {
      position: relative;
      width: 30px;
      height: 30px;
      display: inline-block; } }
@media only screen and (max-width: 460px) {
  .modal {
    padding-top: 80px;
    /* Location of the box */
    left: 0;
    width: 100%;
    height: 100%;
    /* Full height */
    z-index: -1;
    /* The Close Button */ }
    .modal .modal-content {
      max-width: calc(100% - 60px);
      min-height: 390px;
      padding: 20px 15px; }
      .modal .modal-content .form {
        margin: 22px 0 0 0; }
        .modal .modal-content .form .oval-container-form {
          padding: 10px 5px 2px 5px; }
          .modal .modal-content .form .oval-container-form .flex-card {
            margin: 0 !important;
            flex-wrap: wrap; }
            .modal .modal-content .form .oval-container-form .flex-card > div {
              padding: 0 4px;
              width: 100%;
              margin: 0 0 8px 0 !important; }
              .modal .modal-content .form .oval-container-form .flex-card > div .form-control-oval {
                width: 100%; }
      .modal .modal-content .modal-title {
        font-size: 24px;
        line-height: 1.2; }
    .modal .btn-form {
      margin-top: 18px; }
    .modal .close-modal {
      width: 22px;
      height: 22px; } }

/*# sourceMappingURL=modal.css.map */
