// @font-face {
//   font-display: swap;
//   font-family: 'Conv_ofont.ru_Futura PT';
//   src: url('../fonts/ofont/ofont.ru_Futura PT.eot');
//   src: local('☺'), url('../fonts/ofont/ofont.ru_Futura PT.woff') format('woff'),
//   url('../fonts/ofont/ofont.ru_Futura PT.ttf') format('truetype'),
//   url('../fonts/ofont/ofont.ru_Futura PT.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

// @font-face {
//   font-display: swap;
//   font-family: 'Futura PT';
//   src: url('../fonts/Futura-PT/Futura-PT.eot');
//   src: local('☺'), url('../fonts/Futura-PT/Futura-PT.woff') format('woff'),
//   url('../fonts/Futura-PT/Futura-PT.ttf') format('truetype'),
//   url('../fonts/Futura-PT/Futura-PT.svg') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }

@font-face {
  font-display: swap;
  font-family: 'Futura PT';
  src: local('Futura PT Bold Italic'),
       local('Futura-PT-Bold-Italic'),
       url('../fonts/Futura-PT/FuturaPT-BoldIt.woff2') format('woff2'),
       url('../fonts/Futura-PT/FuturaPT-BoldIt.woff') format('woff'),
       url('../fonts/Futura-PT/FuturaPT-BoldIt.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Regular.eot');
  src: local('Circe'), local('Circe-Regular'),
    url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-Regular.woff') format('woff'),
    url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-ExtraLight.eot');
  src: local('Circe ExtraLight'), local('Circe-ExtraLight'),
    url('../fonts/Circe/Circe-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-ExtraLight.woff') format('woff'),
    url('../fonts/Circe/Circe-ExtraLight.ttf') format('truetype');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Thin.eot');
  src: local('Circe Thin'), local('Circe-Thin'),
    url('../fonts/Circe/Circe-Thin.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-Thin.woff') format('woff'),
    url('../fonts/Circe/Circe-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Light.eot');
  src: local('Circe Light'), local('Circe-Light'),
    url('../fonts/Circe/Circe-Light.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-Light.woff') format('woff'),
    url('../fonts/Circe/Circe-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-Bold.eot');
  src: local('Circe Bold'), local('Circe-Bold'),
    url('../fonts/Circe/Circe-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-Bold.woff') format('woff'),
    url('../fonts/Circe/Circe-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: 'Circe';
  src: url('../fonts/circe/Circe-ExtraBold.eot');
  src: local('Circe ExtraBold'), local('Circe-ExtraBold'),
    url('../fonts/Circe/Circe-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/Circe/Circe-ExtraBold.woff') format('woff'),
    url('../fonts/Circe/Circe-ExtraBold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}
